:root {
  --main-font: "Inter", sans-serif;
  --body-bg-color: #121826;
  --form-bg-color: #212936;
  --circle-primary-color: #5425af;
  --cicle-secondary-color: #394150;
  --btn-bg-color: #845eee;
  --form-text-color: #e5e7eb;
  --outline-color: #a1a1a9;
  --input-border-color: #4d5562;
  --circle-shadow-color: #845eee4d;
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  font-family: var(--main-font);
  background-color: var(--body-bg-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
  color: var(--btn-bg-color);
}

.author-info a:visited {
  color: var(--form-text-color);
}

/* ********** STYLES FORM VALIDATIONS ********** */
.card [required]:not(:placeholder-shown):valid {
  border: thin solid var(--form-ok-color);
}

.card [required]:not(:placeholder-shown):invalid {
  border: thin solid var(--form-error-color);
}

/* ********** REGISTER FORM ********** */
.register,
.topics,
.summary {
  display: none;
  max-width: 310px;
  width: 100%;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  color: var(--form-text-color);
  background-color: var(--form-bg-color);
  /*background: linear-gradient(
    120deg,
    rgba(229, 231, 235, 0.5) 0.05%,
    rgba(229, 231, 235, 0) 25.05%
  );*/
}

.register__name,
.register__email {
  margin-block: 1rem;
}

.register__title,
.topics__title,
.summary__title {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.register label {
  font-size: 0.75rem;
  line-height: 2.4;
}

.register input,
.topics .topics__btn,
.summary .summary__btn {
  display: block;
  padding: 1rem;
  max-width: 400px;
  width: 100%;
  background-color: var(--form-bg-color);
  border: 1px solid #4d5562;
  outline-width: 1px;
  outline-color: #a1a1a9;
  border-radius: 10px;
  color: var(--form-text-color);
}

.register input::placeholder {
  color: var(--form-text-color);
}

.register .register__btn,
.topics .topics__btn,
.summary .summary__btn {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  width: fit-content;
  padding: 0.8rem 2.5rem;
  border-radius: 25px;
  background-color: var(--btn-bg-color);
  background: linear-gradient(180deg, #845eee 0%, #652cd1 100%);
  color: var(--form-text-color);
}

.step {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: var(--circle-primary-color);
  background-color: var(--cicle-secondary-color);
  list-style: none;
}

.is-active {
  display: block;
}

.active {
  background-color: var(--circle-primary-color);
  box-shadow: 0 0 1px 5px var(--circle-shadow-color);
}

.step-container {
  display: none;
  margin-top: 1rem;
  visibility: hidden;
  opacity: 0;
}

.step-container.available,
.form-active {
  display: block;
  visibility: visible;
  opacity: 1;
}

.step-container.available {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  text-align: center;
}

.step-indicator .step {
  display: inline-block;
  margin-inline: 0.3rem;
}

.step-text {
  color: var(--form-text-color);
  font-size: 0.875rem;
  font-weight: 100;
}

/* ********** TOPICS FORM ********** */
.topics__title {
  text-align: center;
}

.topics input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.topics label {
  display: block;
  padding: 1rem;
  background-color: var(--cicle-secondary-color);
  border-radius: 10px;
  font-weight: 300;
}

.topics input[type="checkbox"]:checked + label {
  background-color: var(--circle-primary-color);
  border: 1px solid var(--btn-bg-color);
}

/* ********** SUMMARY ********** */
.summary__title {
  margin: 0.5rem 0 2.5rem 0;
}

.summary__title,
.summary h3 {
  font-weight: 400;
}

.summary h3 {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.summary p {
  margin-block: 0.5rem;
}

.summary ul {
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.summary ul li {
  padding-block: 0.2rem;
}

.name,
.email,
.summary h3 {
  color: var(--outline-color);
}

@media screen and (min-width: 43.75rem) {
  .register,
  .topics,
  .summary {
    max-width: 450px;
    width: 100%;
  }
}
